* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline;
}
html {
  font-size: 100%;
}
body {
  font-size: 13px;
  line-height: 1.231;
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222222;
}
a {
  color: #0077ee;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #00aaee;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}
button,
input {
  line-height: normal;
  overflow: visible;
}
table button,
table input {
  overflow: auto;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none!important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
audio:not([controls]),
[hidden],
.ir br {
  display: none;
}
::-moz-selection,
::selection {
  background: #fe57a1;
  color: #ffffff;
}
figure,
form {
  margin: 0;
}
label,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}
@media print {
  * {
    background: transparent!important;
    color: #000000 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.test {
  background: aqua;
  overflow: visible;
}
/*	*	*	*	*	*	*	*	*	GRID 4 LESS		*	*	*	*	*	*	*	*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.tester {
  position: fixed;
  top: 0;
  background: #aaa;
  height: 100%;
  width: 960px;
  left: 50%;
  margin-left: -480px;
  z-index: 1;
  opacity: 0.2;
}
.tester div {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  left: 0px;
  text-align: left;
  height: 100%;
  background: #eee;
}
/*	*	*	*	*	*	*	*	*	end		*	*	*	*	*	*	*	*/
/*	COLORES	*/
/*	TESTER	*/
.tester {
  visibility: visible ;
}
/*	*	*	*	*	*	*	*	*	MAIN CSS		*	*	*	*	*	*	*	*/
/* media queries */
@media all and (max-width: 960px) {
  /*	*	*	*	*	*	*	*	*	GRID 4 LESS		*	*	*	*	*	*	*	*/
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .tester {
    position: fixed;
    top: 0;
    background: #aaa;
    height: 100%;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    z-index: 1;
    opacity: 0.2;
  }
  .tester div {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    left: 0px;
    text-align: left;
    height: 100%;
    background: #eee;
  }
  /*	*	*	*	*	*	*	*	*	end		*	*	*	*	*	*	*	*/
  /*	*	*	*	*	*	*	*	*	MAIN CSS		*	*	*	*	*	*	*	*/
}
/* end max-width: 800px */
/* media queries */
@media all and (max-width: 600px) {
  /*	*	*	*	*	*	*	*	*	GRID 4 LESS		*	*	*	*	*	*	*	*/
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .tester {
    position: fixed;
    top: 0;
    background: #aaa;
    height: 100%;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    z-index: 1;
    opacity: 0.2;
  }
  .tester div {
    display: inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    left: 0px;
    text-align: left;
    height: 100%;
    background: #eee;
  }
  /*	*	*	*	*	*	*	*	*	end		*	*	*	*	*	*	*	*/
  /*	*	*	*	*	*	*	*	*	MAIN CSS		*	*	*	*	*	*	*	*/
}
/* end max-width: 600px */
